.Menu {
  max-width: 800px;
  max-height: 50px;
  background-color: rgb(83, 161, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}
